.navbar {
  width: 100vw;
  height: 10vh;
  padding: 0 1em;
  box-sizing: border-box;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--point-color);
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right {
  justify-content: end;
}

#bars,
#youtube {
  margin-left: 1em;
}

input {
  width: 15em;
  height: 2.2em;
  padding: 1em 0 1em 0.5em;
  font-size: 1rem;
  border: none;
  background-color: var(--content-color);
}

input:focus {
  outline: none;
  color: var(--point-color);
}

#search {
  margin-right: 1.3rem;
  border: none;
  background-color: transparent;
  width: 1.5em;
  height: 2em;
  font-size: 2rem;
  color: var(--point-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.join,
.login {
  width: 4em;
  height: 2.5em;
  font-size: 1rem;
  border-style: none;
  border-radius: 1rem;
  background-color: var(--black);
  color: white;
  margin-right: 1.3em;
}

#bars:hover,
#youtube:hover,
#search:hover,
button:hover {
  cursor: pointer;
}
